body{
  user-select: none;
  background: black;
}




.d0{
  width: 330px;
  height: 550px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 3px solid white;
}

.ee{
  width: 330px;
  height: 550px;
  background-color: rgba(00, 00, 00, 70%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 1;
  display: none;
}






.d1{
  width: 330px;
  height: 360px;
  background: black;
  position: absolute;
  top: 67.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(5px, 1fr));
  grid-gap: 0px;
}


button {
  padding: 1px;
  width: 65px;
  height: 65px;
  background: #363636;
  border-radius: 50%;
  border: none;
  font-size: 35px;
  margin: 3px 7px;
  color: white;

}

#b1, #b2, #b3, .k1, .k2{
  color: black !important;
  background: #A5A5A5 !important;
  font-size: 30px;
}





#b4, #b8, #b12, #b16, #b19{
  background: #F1A43C !important;
}

#b4:hover, #b8:hover, #b12:hover, #b16:hover{
  background: white !important;
  color: #F1A43C;
}




.d2{
  width: 91%;
  height: 40px;
  position: absolute;
  top: 24%;
  left: 1.5%;
  font-size: 40px;
  text-align: end;
  padding: 0px 10px;
  border: none;
  color: white;
  background: black;
}

.d3{
  width: 40%;
  height: 30px;
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 20px;
  text-align: end;
  padding: 0px 10px;
  border: none;
  color: white;
  background: black;
}



.icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    top: 3.5%;
    left: 3%;
}


.icon span{
    background-color: white;
    margin-bottom: 5px;
    height: 2px;
}


.icon span:first-child{
    width: 80%;
}

.icon span:nth-child(2) {
    width: 80%;
}

.icon span:last-child {
    width: 80%;
}


.set {
  width: 200px;
  height: 150px;
  background: #363636;
  border-radius: 15px;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.k1, .k2 {
  margin: 10px 15px;
}


.set hr{
  color: #eee;
}


.set span{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%)
}


